.header {
  &__inner {
    display: flex;
  }

  &__logo {
    margin: 15px 25px 15px 0;
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;

    &-item {
      margin-right: 40px;
      &--multi {
        position: relative;
        &:hover {
          .header__navlink {
            color: $green-dark;
          }
          .header__subnav {
            opacity: 1;
            visibility: visible;
            margin-top: 0;
          }
        }
      }
    }
  }

  &__subnav {
    position: absolute;
    top: 70px;
    left: -10px;
    background: $green-primary;
    padding: 20px 15px;
    color: $yellow;
    width: 210px;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    margin-top: 15px;

    &-link {
      color: $yellow;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0;
      margin-bottom: 10px;
      &:hover {
        text-decoration: none;
        color: $yellow;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__navlink {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    border-top: 6px solid transparent;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 500;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $green-dark;
    }
    
    &--active {
      color: $green-dark;
      border-top-color: $green-dark;
    }
  }

  &__burger {
    cursor: pointer;
    display: none;
  }

  &-dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: $green-dark;
    color: $yellow;
    padding: 15px 25px 40px;
    overflow-y: auto;

    &__close {
      cursor: pointer;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }

    &__nav {
      display: flex;
      flex-direction: column;
    }

    &__subnav {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      margin-left: 20px;
      margin-top: -10px;

      &-link {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__navlink {
      font-size: 20px;
      letter-spacing: 1px;
      color: $yellow;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &.show-dropdown {
    .header-dropdown {
      display: block;
    }
  }

  @include media(1300px){
    &__logo {
      max-width: 180px;
    }
    &__navlink {
      margin-right: 20px;
      font-size: 14px;
    }
  }

  @include media($screen-md) {
    &__inner {
      justify-content: space-between;
    }
    &__nav {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}