.promo {
  &__slide {
    padding-bottom: 30px;
    & > div {
      width: 100%;
    }
  }

  .special-block__content {
    min-height: 570px;
  }

  &__slidernav {
    margin-top: -90px;
  }

  &__slidernav-inner {
    padding-left: calc(47% + 195px);
  }

  .slick-track {
    align-items: flex-start;
  }

  &__title,
  &__text {
    opacity: 0;
    transform: translateX(40px);
    transition: .6s;
  }

  &__text {
    transition-delay: .3s;
  }

  &__banner {
    &--mobile {
      display: none!important;
    }
  }

  .slick-active {
    .promo__title,
    .promo__text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @include media(1400px){
    .special-block__content {
      min-height: 450px;
      padding-left: 40px;
    }
    &__slidernav-inner {
      padding-left: calc(47% + 100px);
    }
  }

  @include media($screen-lg) {
    .special-block__content {
      min-height: 400px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__slidernav {
      margin-top: -40px;
      &-inner {
        width: 100%;
        padding-left: calc(50% + 80px);
      }
    }
  }

  @include media($screen-md){
    &__slide {
      padding-bottom: 0;
    }
    &__slidernav {
      margin-top: 0;
    }
    &__slidernav-inner {
      padding-left: 0;
      margin-top: 15px;
      margin-left: 20px;
    }
    &__text {
      display: none;
    }
    &__banner {
      &--desktop {
        display: none!important;
      }
      &--mobile {
        display: block!important;
      }
    }
    .special-block__content {
      min-height: unset!important;
      padding: 70px 20px 20px 20px;
    }
    .special-block__img {
      margin-bottom: -40px;
    }
  }

  @include media($screen-xs){
    .special-block__pattern {
      max-width: 200px;
      left: 0;
      right: auto;
      bottom: 20px;
    }
  }
}