mixin promo(forPage)
  //Promo block: START
  - if(forPage == 'homepage')
      .promo
        .js-slider-wrap
          .promo__slider.js-promo-slider.js-slider
            .promo__slide
              .special-block
                .special-block__img.js-anim.anim-top
                  img(src=require('@root/img/promo-slide-1.jpg')).promo__banner.promo__banner--desktop
                  img(src=require('@root/img/promo-slide-1-mobile.jpg')).promo__banner.promo__banner--mobile
                .special-block__content.js-anim.anim-bottom
                  .special-block__content-inner
                    .special-block__title.special-block__title--thin.h2.text-upper.promo__title We create a natural way to a <b>healthier and happier life for everyone!</b>
                    .special-block__text.promo__text
                      p We realized that in overwhelming reality that offers to consumers an abundance of health and wellness products, we can become the center of expertise available to consumers and potential partners in legal hemp and cannabis segment.
                      p We can be the experts that they can trust for tailored support and scientifically based answers to their cannabis questions.
            .promo__slide
              .special-block
                .special-block__img.js-anim.anim-top
                  img(src=require('@root/img/promo-slide-2.jpg')).promo__banner.promo__banner--desktop
                  img(src=require('@root/img/promo-slide-2-mobile.jpg')).promo__banner.promo__banner--mobile
                .special-block__content.js-anim.anim-bottom
                  .special-block__content-inner
                    .special-block__title.special-block__title--thin.h2.text-upper.promo__title We plant hope, grow health, <b>harvest wellness, and create honest beauty</b>
                    .special-block__text.promo__text
                      p Our HERBILZ line provides a variety of products ranging from selection of flavorful oil and vape cartridges to gentle cosmetics and bath bombs that utilize the healing power of nature.                      
            
            .promo__slide
              .special-block
                .special-block__img.js-anim.anim-top
                  img(src=require('@root/img/promo-slide-3.jpg')).promo__banner.promo__banner--desktop
                  img(src=require('@root/img/promo-slide-3-mobile.jpg')).promo__banner.promo__banner--mobile
                .special-block__content.js-anim.anim-bottom
                  .special-block__content-inner
                    .special-block__title.special-block__title--thin.h2.text-upper.promo__title We believe in looking good, <b>feeling good, and spending quality time with your loved ones</b>
                    .special-block__text.promo__text
                      p We offer mind, soul, skin, hair, and body care formulas. Using our innovative scientific approach, we create each product with great attention to detail and efficacy, mastering a unique sensory experience.                      

          .promo__slidernav
            .wrapper
              .promo__slidernav-inner
                include ../slider-nav/slider-nav