.goals {
  margin: 100px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
  }

  &__item {
    width: calc(100% / 3);
    padding: 0 25px;

    &-icon {
      text-align: center;
    }

    &-title {
      margin: 15px 0 30px;
    }
  }

  @include media($screen-lg){
    margin-left: -15px;
    margin-right: -15px;

    &__item {
      padding: 0 15px;
      &-title {
        font-size: 20px;
      }
      &-icon {
        max-width: 120px;
        margin: 0 auto;
      }
    }
  }

  @include media($screen-sm){
    margin: 60px 0;
    &__inner {
      display: block;
    }
    &__item {
      display: flex;
      margin-bottom: 50px;
      width: 100%;

      &-title {
        font-size: 18px;
      }

      &-head {
        width: 140px;
        flex-shrink: 0;
        margin-right: 25px;
      }
    }
  }

  @include media($screen-xs){
    &__item {
      display: block;

      &-head {
        width: 100%;
      }
      &-title {
        margin: 10px 0;
      }
    }
  }
  
}