mixin goals(forPage)
  -if(forPage === 'ngppage')
    .goals
      .wrapper
        .goals__inner
          .goals__item.js-anim.anim-top
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-green-icon-1.svg'))
              .goals__item-title.h3.text-center Vision
            .goals__item-text
              ul.styled-list
                li Become a cost effective and a reliable supplier of top quality cannabis flowers of medicinal grade.
                li Produce cannabis derived medicine in liquid forms - both as API and as final forms.
                li Get EU GACP\GMP status from  German inspectors for all forms of medicinal product produced.
                li Deliver custom-need medicinal cannabis products – both flowers and extracts – to qualified resellers.

          .goals__item.js-anim.anim-top.anim-delay-2
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-green-icon-2.svg'))
              .goals__item-title.h3.text-center What we have
            .goals__item-text
              ul.styled-list
                li 11,000 sqm suitable land plot near the airport of Skopje(N. Macedonia).
                li 2400 sqm building constructed in Q4 2019.
                li Cultivation license received  in December 2019.
                li Offtake agreement for cannabis flowers  signed with a German qualified importer.

          .goals__item.js-anim.anim-top.anim-delay-4
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-green-icon-3.svg'))
              .goals__item-title.h3.text-center Middle term goals
            .goals__item-text
              ul.styled-list
                li Launch cultivation of mother plants – by Q2 2020.
                li Get first crop – in Q3 2020.
                li Build extraction facility and obtain extraction license by Q3 2020.
                li Achieve EU GACP\GMP quality and status for all forms of produced medicine – by Q2 2021.
                li Deliver products to market – in Q3 2021.
                li Expand operations in 2022.

  -if(forPage === 'nglpage')
    .goals
      .wrapper
        .goals__inner
          .goals__item.js-anim.anim-top
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-yellow-icon-1.svg'))
              .goals__item-title.h3.text-center Vision
            .goals__item-text
              ul.styled-list
                li Make R&D and produce top quality hemp\ CBD products for wellness\health\lifestyle markets.
                li Make Herbliz brand a synonym of quality.
                li Set up distribution – build New Garden Lab stores and online store, develop wholesale channels and introduce franchise.
                li Become a reliable white label partner and produce quality products for other retailers.

          .goals__item.js-anim.anim-top.anim-delay-2
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-yellow-icon-2.svg'))
              .goals__item-title.h3.text-center What we have
            .goals__item-text
              ul.styled-list
                li Concept store New Garden Lab suitable for scaling and franchise.
                li Launched New Garden Lab Store in February 2020.
                li Manufacturing team and lab in Berlin, delivering CBD products for retailing.
                li 2 stores in Berlin.
                li Product matrix with more than 60 SKUs – tinctures, vapes & cartridges, cosmetics, topicals, edibles, etc.
                li Private label Herbliz produced by a local team and by outsourcing companies.
                li Start of wholesale of Herbliz products.
                li Start of white label production for other brands.

          .goals__item.js-anim.anim-top.anim-delay-4
            .goals__item-head
              .goals__item-icon: img(src=require('@root/img/icons/goal-yellow-icon-3.svg'))
              .goals__item-title.h3.text-center Middle term goals
            .goals__item-text
              ul.styled-list
                li Expand manufacturing capacity to meet growing demand for Herbliz products white label products.
                li Open 9-10 new stores in 2020.
                li Build b2b distribution across EU - 2020.
                li Capitalize on own manufacturing capacities and produce white label products for other brands – 2020-22.
                li Introduce franchise stores – 2021.
                li Open up to 50 stores – by 2023.