.slider-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__btn {
    position: relative;
    margin-right: 20px;
    z-index: 2;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: .25s;
      position: absolute;
      top: 0;
      background: $yellow;
      z-index: -1;
    }

    &:hover {
      &:after {
        background: $green-primary;
      }
    }
  }

  &__prev {
    &:after {
      left: 0;
      transform: translate(-45%, -20%);
    }
  }

  &__next {
    &:after {
      right: 0;
      transform: translate(45%, -20%);
    }
  }

  &__count {
    display: flex;
    margin-left: 50px;
    color: $green-dark;

    &-current {
      font-size: 36px;
      font-weight: 500;
    }
    &-length {
      font-size: 20px;
      position: relative;
      padding-top: 10px;

      &:before {
        content: '/';
        font-weight: 600;
        margin: 0 6px;
        display: inline-block;
        transform: translateY(2px);
      }
    }
  }
  
}