.slider-nav.js-slider-nav
  .slider-nav__buttons
    .slider-nav__prev.slider-nav__btn.js-slider-prev
      include ../../img/icons/arrow-left.svg
    .slider-nav__next.slider-nav__btn.js-slider-next
      include ../../img/icons/arrow-right.svg
  
  .slider-nav__count
    .slider-nav__count-current.js-slider-current
    .slider-nav__count-length.js-slider-length