.press-item {
  text-decoration: none;
  transition: none;
  &:hover {
    .press-item__content {
      background: $green-primary;
      color: #fff;
    }
    .press-item__title {
      text-decoration: none;
    }
    .press-item__date {
      color: #fff;
    }
    .press-item__text {
      color: $gray-lighter;
    }
  }
  &__img {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: -24%;
  }

  &__tags {
    position: absolute;
    top: 15px;
    left: 35px;
    right: 35px;
  }

  &__date {
    margin-bottom: 22px;
    font-weight: 500;
    color: $green-bright;
    transition: .25s;
  }

  &__title {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
    padding-left: 20px;
    line-height: 1.75;
  }

  &__text {
    padding-left: 20px;
    color: $gray-dark;
  }

  &__content {
    padding: 28% 18px 40px;
    transition: .25s;
  }

  @include media($screen-xs){
    &__title {
      font-size: 14px;
      margin-bottom: 35px;
    }

    &__date {
      margin-bottom: 8px;
    }

  }
}