mixin press-item(img, title, text)
  a(href="#!").link.press-item
    .press-item__inner
      .press-item__img
        .press-item__tags.tag-list
          .tag #CBD
          .tag #oil
        img(src=img)
      .press-item__content
        .press-item__date December 02
        .press-item__title= title
        .press-item__text= text