.introduce {
  margin: 90px 0 130px;

  &__title {
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
  }

  &__left {
    padding-right: 110px;
  }

  &__download {
    margin-top: 30px;
  }

  &__leaf {
    position: absolute;
    right: -418px;
    bottom: -300px;
    z-index: -1;
  }

  @include media($screen-lg){
    margin: 60px 0 70px;
  }

  @include media($screen-sm){
    &__inner {
      flex-direction: column;
    }
    &__left,
    &__right {
      width: 100%;
    }

    &__left {
      padding-right: 0;
    }
    
    &--aboutpage {
      .introduce__right {
        order: -1;
        margin-bottom: 30px;
      }
      .introduce__left {
        margin-bottom: 0;
      }
    }
  }

  @include media($screen-xs){
    margin: 65px 0;

    &__title {
      margin-bottom: 5px;
    }
    &__right {
      p:first-child {
        margin-top: 0;
      }
    }
    .accent-block {
      margin-top: 25px;
    }
  }
}