include ../download-link/download-link

mixin intro(forPage, isTitleUpper)
  - if(forPage == 'homepage')
      .introduce
        .wrapper
          .introduce__title.h2(class=isTitleUpper ? "text-upper" : "").js-anim.anim-left Live easy live
          .introduce__inner.flex
            .flexcol-50.introduce__left.js-anim.anim-top
              .introduce__text
                p New Garden Group is a vertically integrated cannabis\hemp operator in Europe. Headquartered in Berlin, Germany, with manufacturing facility in both in Germany and Northern Macedonia, New Garden Group focuses on growing, designing, producing and distributing its high-quality certified medical and wellness cannabis products throughout the entire continent with the outmost standard for safety, efficacy, stable quality, and customer care.
                p New Garden Group is a center of pharmaceutical expertise to deliver highest safety cannabis-derived medicine from a EU GMP pharmaceutical factory.
                p New Garden Group is a place where new simple yet enticing  health and wellness brands and innovative product lines are born, offering solutions to any customer in the evolving cannabis market.

            .flexcol-50.introduce__right.js-anim.anim-top.anim-delay-3
              p New Garden Group is comprised of diverse individuals with unique backgrounds from product development, medicine, marketing and media to business and e-commerce, who are all driven by the same strong values, passionate about nature and innovations of well-being.
              .accent-block
                .accent-block__title.h4 Mission
                .accent-block__text We create a natural way to a healthier and happier life for everyone!
              
              .accent-block
                .accent-block__title.h4 Vision
                .accent-block__text We are building a vertically integrated cannabis\hemp leader in Europe from cultivation to distribution and delivering top class products for medicinal and wellness\lifestyle markets.

              .introduce__download
                +download-link(require('@root/img/icons/pdf.svg'), 'Download presentation')

              img(src=require('@root/img/icons/leaf-1.svg')).introduce__leaf

  - if(forPage == 'aboutpage')
      .introduce.introduce--aboutpage
        .wrapper
          .introduce__inner.flex
            .flexcol-50.introduce__left.js-anim.anim-left
              .introduce__title.h2(class=isTitleUpper ? "text-upper" : "") Live easy live
              .accent-block
                .accent-block__title.h4 Mission
                .accent-block__text We create a natural way to a healthier and happier life for everyone!            
              .accent-block
                .accent-block__title.h4 Vision
                .accent-block__text We are building a vertically integrated cannabis\hemp leader in Europe from cultivation to distribution and delivering top class products for medicinal and wellness\lifestyle markets.
              
              .introduce__download
                +download-link(require('@root/img/icons/pdf.svg'), 'Download presentation')

            .flexcol-50.introduce__right.js-anim.anim-top.anim-delay-3
              img(src=require('@root/img/introduce-about-img.jpg'), alt="")