.special-block {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 130px;

  &--revert {
    padding-right: 130px;
    padding-left: 0;

    .special-block {
      &__content {
        justify-content: flex-end;
        padding: 60px 105px 60px 0;
        flex-grow: 1;

        &-inner {
          padding-right: 0;
          margin-left: 30px;
        }
      }
    }
  }

  &__img {
    text-align: right;
    max-width: 840px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__pattern {
    position: absolute;
    right: -75px;
    bottom: -25px;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: $green-text-bg;
    min-height: 735px;
    padding: 60px 0 60px 120px;
  }

  &__content-inner {
    max-width: 600px;
    padding-right: 30px;
  }

  &__title {
    color: #000;
    margin-bottom: 20px;

    &--thin {
      font-weight: 300;
    }

    b,
    strong {
      font-weight: bold;
    }
  }

  &__button {
    margin-top: 25px;
  }

  &.left-img-is-big {
    .special-block__content {
      min-height: 570px;
    }
  }

  @include media(1750px) {
    &__content {
      min-height: 450px;
    }
  }

  @include media(1600px) {
    padding-left: 0;
    &--revert {
      padding-right: 0;
    }

    &__img {
      max-width: unset;
      width: 50%;
    }
    &__content {
      width: 50%;
    }
  }

  @include media($screen-lg){
    &__content {
      padding-left: 35px;
      min-height: 370px!important;
    }
    &__pattern {
      right: -23px;
    }

    &--revert {
      .special-block__content {
        padding: 30px 60px 30px 0;
      }
    }
  }

  @include media($screen-md) {
    flex-direction: column;
    justify-content: center;

    &__img {
      width: 100%;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: -70px;
      img {
        display: inline-block;

        &:not(.special-block__pattern){
          width: 100%;
          max-height: 400px;
          object-fit: cover;
        }
      }
    }

    &__content {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 90px;
      min-height: unset;
      &-inner {
        padding-right: 0;
        max-width: 100%;
      }
    }

    &--revert {
      flex-direction: column-reverse;
      .special-block__content {
        justify-content: flex-start;
        min-height: unset;
        padding: 120px 20px 60px;
        &-inner {
          margin-left: 0;
        }
      }
    }
  }
  @include media($screen-xs){
    &--revert {
      .special-block__content {
        padding-top: 80px;
      }
    }
  }

}

.about-promo {
  .special-block__content {
    min-height: 500px;
  }
}