mixin special-block(title, img, isRevert, isTitleUpper)
  //special block: START
  .special-block(class=isRevert ? "special-block--revert" : "")
  
    -if(isRevert)
      .special-block__content.js-anim.anim-top
        .special-block__content-inner
          -if(title)
            .special-block__title.h2(class=isTitleUpper ? "text-upper" : "")= title
          .special-block__text
            block
      .special-block__img.js-anim.anim-bottom.anim-delay-3
        img(src=img)

    - else
        .special-block__img.js-anim.anim-top.anim-delay-3
          img(src=img)
        .special-block__content.js-anim.anim-bottom
          .special-block__content-inner
            -if(title)
              .special-block__title.h2(class=isTitleUpper ? "text-upper" : "")= title
            .special-block__text
              block