.team-intro {
  max-width: 1170px;
  margin: 0 auto 40px;

  &__title {
    margin-bottom: 35px;
  }

  &__tab {
    margin: 20px 0 35px;
  }

  &__tab-content {
    margin-top: 30px;
  }

  &__slidernav {
    margin-top: 25px;
    margin-left: 20px;
  }

  .slick-track {
    align-items: flex-start;
  }

  @include media($screen-sm){
    .tab__nav {
      justify-content: flex-start;
    }
  }

  @include media($screen-xs) {
    margin: 50px 0;

    &__title {
      text-align: left!important;
      margin-bottom: 20px;
    }
  }
}

.team-person {
  display: flex;
  justify-content: space-between;

  &__images {
    max-width: 446px;
    &-inner {
      position: relative;
    }
    .slick-slide img {
      display: inline-block;
    }
  }

  &__pattern {
    position: absolute;
    bottom: 25px;
    left: -70px;
    z-index: 2;
  }

  &__content {
    width: calc(100% - 446px);
    padding-top: 60px;
    padding-right: 150px;
  }

  &__name {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000;
  }

  &__position {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
  }
  
  &__thumbs-slider {
    margin-top: 20px;

    .slick-slide {
      margin: 0 10px;
    }
    .slick-list {
      margin: 0 -10px;
    }
    .slick-track {
      margin-left: 0;
    }
    .slick-current {
      .team-person__thumbs-slide {
        &:after {
          opacity: .75;
        }
      }
    }
  }
  
  &__thumbs-slide {
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $green-primary;
      z-index: 2;
      opacity: 0;
      transition: .25s;
    }
  }

  &__info {
    margin-top: 30px;
  }

  &__all {
    margin-top: 70px;
  }

  @include media($screen-lg){
    &__name {
      font-size: 28px;
    }
    &__position {
      font-size: 16px;
      line-height: 1.5;
    }
    &__info {
      margin-top: 15px;
    }
    &__content {
      padding-right: 75px;
    }
    &__all {
      margin-top: 35px;
    }
  }

  @include media($screen-md){
    &__content {
      padding-right: 0;
      padding-top: 0;
    }
    &__images {
      width: 50%;
    }
    &__content {
      width: 50%;
      padding-right: 30px;
    }
    &__name {
      font-size: 30px;
      margin-bottom: 0;
    }
    &__position {
      font-size: 16px;
    }
    &__pattern {
      left: -22px;
      bottom: 20px;
      max-width: 200px;
    }
    &__all {
      margin-top: 30px;
    }
  }

  @include media(650px){
    display: block;
    &__content {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 0;
      padding-right: 0;
    }
    &__name {
      font-size: 20px;
    }
    &__images {
      width: 100%;
    }
    &__info {
      display: none;
    }
    &__all {
      display: none;
    }
    &__pattern {
      width: 200px;
      left: -15px;
      bottom: -15px;
    }
  }
  
}