.team-intro.js-team-intro
  .wrapper
    .team-intro__inner
      .team-intro__title.text-center.text-upper.h2.js-anim.anim-top Company team
      .team-intro__list
        .team-person
          .team-person__content.js-anim.anim-left

            //Person data slider (make sure that slides order is right!!)
            .team-person__content-slider.js-team-content-slider
          
              .team-person__content-slide
                .team-person__name Vadim Kurin
                .team-person__position CEO and President, New Garden Group
                .team-person__info
                  ul.styled-list
                    li Experienced CEO with a strong track-record of successfully executed projects, with a proven experience in different capacities across multiple consumer oriented industries – as a running CEO, as a Board Member, and as an Advisor.
                    li CEO and Founder at Zoom Capital, former CEO at Viva-dengi, former CEO at NetByNet.
                    li TUCK School of Business at Dartmouth College, MBA.
                    li Moscow Institute of Physics and Technology, MS.
                a(href="./team.html").btn.team-person__all All team

              .team-person__content-slide
                .team-person__name Sanja Bonelli
                .team-person__position Chief Sales and Development Officer, New Garden Lab
                .team-person__info
                  ul.styled-list
                    li Seasoned wholesale and retail executive with experience in fashion and jewelry companies in Germany and EU – Karen Millen, Bijou Brigitte AG, Esprit GmbH, S. Oliver Group.
                    li Experienced leadership development specialist and change manager.
                    li University of Rijeka, Croatia, MBA.
                a(href="./team.html").btn.team-person__all All team

              .team-person__content-slide
                .team-person__name Alexander Golubev
                .team-person__position Production Manager, New Garden Lab
                .team-person__info
                  ul.styled-list
                    li Serial Entrepreneur with experience in managing 100+ employee companies for more than 7 years.
                    li 2 years of experience working with cannabis products in California, from extraction to finished products.
                    li MIEE, Bio-medical systems.
                    
                a(href="./team.html").btn.team-person__all All team
              .team-person__content-slide
                .team-person__name Alexander Sapyanik
                .team-person__position Production\Plant manager, New Garden Pharma
                .team-person__info
                  ul.styled-list
                    li Chief Production Manager with experience in operational pharmaceuticals and project Greenfield management.
                    li 12 years of experience in GMP pharmaceuticals production in the largest Ukrainian and Russian companies.
                    li Industrial Pharmaceutical Biotechnology, Chemical Technology of Carbohydrates, Ukrainian National University.
                a(href="./team.html").btn.team-person__all All team

              .team-person__content-slide
                .team-person__name Dennis Honig
                .team-person__position Chief Grower, New Garden Pharma
                .team-person__info
                  ul.styled-list
                    li A 3rd  generation grower with over 22 years’ experience in cannabis specializing in launching commercial cannabis cultivation facilities, implementing new technologies and setting up efficient operational procedures.
                    li Engaged in indoor and greenhouse cannabis cultivation and outdoor productions of seeds, clones and dried material production in the USA, Switzerland and Netherlands.
                    li Experience with development of aeroponic growing in the USA.
                a(href="./team.html").btn.team-person__all All team

              .team-person__content-slide
                .team-person__name Melissa Milinsky
                .team-person__position Head of e-Commerce, New Garden Lab
                .team-person__info
                  ul.styled-list
                    li Experienced digital native and Head of e-Commerce with over a dozen years in the online industry. Preferring holistic and a 360 customer-centric approach, Melissa has a proven track record of increasing sales & customer engagement while leading successful channel strategies and operations.
                    li University of Florida College of Journalism and Communications, BA Advertising.

                a(href="./team.html").btn.team-person__all All team
              .team-person__content-slide
                .team-person__name Alexey Brylev
                .team-person__position Business Development and Controlling Officer, New Garden Group
                .team-person__info
                  ul.styled-list
                    li Experienced Private Equity professional in managing portfolio companies’ performance, including strategic management and M&A, corporate governance, financial budgeting and control.
                    li Audit and consulting experience in KPMG.
                    li National Research University of Electronic Technology, MIET.

                a(href="./team.html").btn.team-person__all All team
              
              .team-person__content-slide
                .team-person__name Semion Volkov
                .team-person__position Chief Financial Officer, New Garden Group
                .team-person__info
                  ul.styled-list
                    li Over 10 years of experience in Finance, including pharmaceutical and retail business.
                    li Experience in finance modeling, investment projects, management accounting, IFRS reporting (including public companies).
                    li ACCA, CIMA Qualifications.
                    li Russian State University of Trade and Economics.

                a(href="./team.html").btn.team-person__all All team

              .team-person__content-slide
                .team-person__name Anastasia Bodenbenner
                .team-person__position Store Area Manager, Berlin
                .team-person__info
                  ul.styled-list
                    li Goal-oriented and experienced retail professional with work experience in international companies such as Karen Millen, Calzedonia and Bestseller group.
                    li In-depth knowledge of sales and people management.
                    li Great communication skills in 4 languages.
                    li 2 qualified University degrees and further education at Potsdam University (Cultural Studies and Human Resources).

                a(href="./team.html").btn.team-person__all All team
          
          //Person images slider (make sure that slides order is right!!)
          .team-person__images.js-slider-wrap.js-anim.anim-right
            .team-person__images-inner
              .team-person__images-slider.js-team-images-slider.js-slider
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-1.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-2.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-3.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-4.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-5.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-6.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-7.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-8.jpg')).team-person__image
                .team-person__images-slide
                  img(src=require('@root/img/persons/person-9.jpg')).team-person__image

            
            .team-person__thumbs-slider.js-team-thumb-slider
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-1.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-2.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-3.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-4.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-5.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-6.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-7.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-8.jpg')).team-person__image
              .team-person__thumbs-slide
                img(src=require('@root/img/persons/person-9.jpg')).team-person__image

            .team-intro__slidernav
              include ../slider-nav/slider-nav