@import './fonts';
@import './button';
@import './formFields';
@import './typography';
@import './grid';
@import '../../blocks/download-link/download-link';
@import '../blocks/tag';

html,
:root {
  overflow-x: hidden;
}

body {
  font-family: $primary-font;
  color: $gray-dark;
  font-size: 14px;
  font-weight: normal;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 2;

  @include media($screen-lg) {
    line-height: 1.75;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: relative;
    z-index: 5;
  }

  &__body {
    flex-grow: 1;
    padding-top: 20px;
  }

  &__title {
    text-align: center;
    margin-top: 0;
  }

  @include media($screen-sm){
    &__title {
      font-size: 30px;
    }
  }

  @include media($screen-xs) {
    &__title {
      font-size: 20px;
    }
    &__body {
      padding-top: 0;
    }
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;

  @include media($screen-xs) {
    padding: 0 20px;
  }  
}

img {
  max-width: 100%;
}

// popup
.popup {
  background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}
/**
 * Fade-zoom animation for first dialog
*/

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.slick-slide {
  outline: none !important;
  & > div {
    width: 100%;
  }
}


.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    justify-content: center;
    height: auto;
  }
}

/* ANIMATION */

$animTranslate: 50px;

.anim-top,
.anim-left,
.anim-right,
.anim-bottom {
  opacity: 0;
  transition: opacity .8s, transform .8s;
  &.visible {
    opacity: 1;
    transform: translate(0,0);
  }
}

.anim-top {
  transform: translateY($animTranslate);
}
.anim-bottom {
  transform: translateY(-$animTranslate);
}
.anim-left {
  transform: translateX(-$animTranslate);
}
.anim-right {
  transform: translateX($animTranslate);
}

.anim-delay{
  &-2 {
    transition-delay: .2s;
  }
  &-3 {
    transition-delay: .3s;
  }
  &-4 {
    transition-delay: .4s;
  }
}