/* Buttons */
.btn {
  display: inline-block;
  font-family: $primary-font;
  text-align: center;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 30px;
  white-space: nowrap;
  transition: .3s;
  text-decoration: none;
  color: #fff;
  background: $green-dark;
  border-radius: 35px;
  min-width: 200px;

  &__icon {
    margin-left: 10px;
  }

  &:hover {
    color: #fff;
    background: $green-primary;
  }

  &[disabled] {
    background: #e0e0e0;
  }

  @include media($screen-xs){
    padding: 13px 30px;
  }

}