input,
textarea {
  background: transparent;
  font-family: $primary-font;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  border: 1px solid $green-dark;
  border-radius: 0;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  color: #000;
  border-radius: 25px;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: $primary-font;
  }
}

input {
  height: 50px;
  line-height: 50px;
   
  @include media($screen-xs){
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

textarea {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none;
  
  @include media($screen-xs) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form {
  &__field {
    margin-bottom: 30px;

    @include media($screen-sm) {
      margin-bottom: 20px;
    }

    &--50 {
      width: 50%;
      padding: 0 8px;
      input, textarea, select {
        width: 100%;
      }
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  &__label {
    font-size: 12px;
    margin-bottom: 6px;
  }

  &--error {
    .field__input {
      border: 1px solid #F20808;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #F20808;
    margin-top: 7px;
    padding-left: 15px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 14px;
      height: 14px;
      padding: 3px;
      font-size: 13px;
      border-radius: 50%;
      background: #F20808;
      margin-right: 7px;
    }
  }
}

.checkbox {
  display: flex;
  width: 100%;
  font-size: 14px;
  // input {
  //   display: none;
  //   &:checked + .checkbox__view {
  //     background: $green;
  //     &:after {
  //       content: url('../img/check.svg');
  //       position: absolute;
  //       left: 3px;
  //       top: 0px;
  //     }
  //   }
  // }

  &__view {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid $green;
    margin-right: 14px;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__count {
    color: $input-border-color;
  }
}