
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
h5, .h5,
h6, .h6 {
  font-weight: bold;
  line-height: 1.3;
  color: #000;
}

h1, .h1 {
  font-family: $secondary-font;
  font-size: 48px;
  text-transform: uppercase;
}

h2, .h2 {
  font-family: $secondary-font;
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
  font-weight: 600;
}

h4, .h4 {
  font-size: 18px;
  font-weight: 600;
}

@include media(1400px) {
  h1,
  .h1 {
    font-size: 40px;
  }  
}

@include media($screen-lg){
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }
}

@include media($screen-sm){
  h1,
  .h1 {
    font-size: 30px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
}

@include media($screen-xs) {
  p {
    margin: 10px 0;
  }

  h1,
  .h1 {
    font-size: 20px;
  }
  h2,
  .h2 {
    font-size: 22px;
  }
  h3,
  .h3 {
    font-size: 16px;
  }
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.text-italic {
  font-style: italic;
}

.text-thin {
  font-weight: 300;
}

.styled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 50px;

    &:last-child {
      margin-bottom: 0;
    }
    
    &:before {
      content: '';
      width: 25px;
      height: 2px;
      position: absolute;
      left: 0;
      top: 12px;
      background: $green-bright;
    }
  }
}

/* LINKS */
.link {
  display: inline-block;
  color: #000;
  outline: none;
  transition: .25s;
  &:hover {
    color: $green-primary;
    text-decoration: none;
  }
  // &:visited {
  //   color: $purple;
  // }

  &--noline {
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
}