$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'GothamPro';

// PALITE
$green-dark: #304C3E;
$green-primary: #518251;
$green-bright: #7ABD52;
$green-light: #9EC986;
$green-olive: #919741;
$green-text-bg: #EFF5ED;
$yellow: #FDF7D3;

$gray-dark: #4F4F4F;
$gray-primary: #828282;
$gray-brighter: #CCCCCC;
$gray-lighter: #F2F2F2;

$purple: #644FE2;

/* COLORS */
$dark-green: #1A4D46;
$green: #267F53;
$gray: #797979;
$vanilla: #F9F5EE;
$border: #E9E9E9;
$vanil-text: #C9BFAD;


$primary-blue: #22297A;
$primary-light-blue: #CAE4FF;
$primary-dark-blue: #0D1357;
$primary-purple: #C9CCEF;
$primary-red: #DA251C;
$primary-dark-red: #C32118;
$light-bg: #F5FAFF;
$text-gray: #7A7A7A;
$input-border-color: #C4C4C4;


$screen-lg: 1100px;
$screen-md: 950px;
$screen-smd: 850px;
$screen-sm: 768px;
$screen-xs: 560px;