.glossary {
  &__nav {
    margin-bottom: 40px;
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      padding-right: 20px;
      margin-bottom: 20px;
      font-size: 16px;
    }
    &-link {
      position: relative;
      display: inline-block;
      &:after {
        content: url('../img/icons/arrow-link.svg');
        margin-left: 10px;
      }
    }

    &.is-toggleable {
      .glossary__btnwrap {
        display: block;
      }
    }

    &.is-hidden {
      .glossary__nav-item {
        display: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          display: block;
        }
      }
    }

    &.is-showed {
      .glossary__showbtn {
        display: none;
      }
      .glossary__hidebtn {
        display: inline-block;
      }
    }

    &.is-hidden {
      .glossary__showbtn {
        display: inline-block;
      }
      .glossary__hidebtn {
        display: none;
      }
    }
  }

  &__btnwrap {
    display: none;
  }

  &__item {
    margin-bottom: 110px;
  }

  .special-block--revert {
    .special-block {
      &__content {
        background: none;
        width: 50%;
      }
      &__img {
        text-align: left;
      }
      &__content-inner {
        max-width: 566px;
      }
    }
  }

  &__btnwrap {
    margin-top: 20px;
  }

  @include media(1400px){
    .special-block {
      &__content {
        padding-left: 40px;
      }
      &--revert {
        .special-block__content {
          padding-right: 40px;
        }
      }

      &.left-img-is-big {
        .special-block__content {
          min-height: 450px;
        }
      }
    }
    &__item {
      margin-bottom: 80px;
    }
  }

  @include media($screen-lg){
    &__item {
      margin-bottom: 65px;
    }
    .special-block {
      &__content {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  @include media($screen-md) {
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .specblock-dblimg {
      margin: 70px 0;
    }
    .special-block {
      &__content {
        padding-top: 90px!important;
        align-items: flex-start;
        min-height: unset!important;
      }
    }
    .special-block--revert {
      flex-direction: row;
      .special-block__content {
        width: 50%;
        padding-top: 0!important;
        padding-bottom: 0;
        padding-right: 30px;
        margin-top: 0;

        &-inner {
          max-width: 100%;
        }
      }
      .special-block__img {
        width: 50%;
        padding-left: 0;
      }
    }
  }

  @include media($screen-sm){
    &__nav {
      &-item {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
  }

  @include media($screen-xs){
    &__nav {
      &-list {
        flex-direction: column;
      }
      &-item {
        width: unset;
        padding-right: 0;
        margin-bottom: 10px;
      }
    }

    .special-block__content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .special-block--revert {
      flex-direction: column-reverse;
      .special-block__content {
        width: 100%;
      }

      .special-block__img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}