.tab {
  &__nav {
    display: flex;
    overflow-x: auto;

    &--center {
      justify-content: center;
    }
  }

  &__navlink {
    color: $gray-primary;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .25s;
    margin-right: 30px;
    text-transform: uppercase;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: $yellow;
      text-decoration: none;
      color: $green-dark;
      font-weight: 600;
    }
  }

  &__block {
    height: 0px;
    overflow-y: hidden;
    
    &.active {
      height: auto;
      overflow: unset;
    }
  }

  @include media($screen-sm){
    &__navlink {
      font-size: 12px;
      margin-right: 10px;
      padding: 8px 16px;
    }
  }
}