.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  background: #EFF5ED;
  color: $gray-dark;
  font-size: 14px;
  line-height: 1.3;
  padding: 4px 8px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}