.key-diff {
  margin: 100px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__left {
    padding-right: 50px;
  }

  @include media($screen-xs){
    margin: 50px 0;
    &__flex {
      display: block;
    }

    &__title {
      text-align: left;
    }

    &__left,
    &__right {
      width: 100%;
      padding-right: 0;
    }

    &__left {
      margin-bottom: 30px;
    }
  }
}