.key-diff
  .wrapper
    .key-diff__inner
      .key-diff__title.h2.text-center.js-anim.anim-bottom Key differentiation
      .key-diff__flex.flex.flex--wrap
        .key-diff__left.flexcol-50.js-anim.anim-left
          .key-diff__subtitle.h3 New Garden Pharma
          ul.styled-list
            li The fastest route to enter the European medical cannabis market. 
            li Focus on GACP\GMP compliance from start.
            li Efficient and state-of-art cultivation facility in a low cost country (labor & electricity) + free trade with EU.
            li Offtake agreement with a qualified German distributor.
            li Able to expand operations under the same license.

        .key-diff__left.flexcol-50.js-anim.anim-right
            .key-diff__subtitle.h3 New Garden Lab
            ul.styled-list
              li Expert in product development to bring to market new products with hemp\CBD.
              li High margins due to vertical integration, able to compete in retail due to attractive manufacturing margins.
              li Fast and cost effective to deliver to market white label products.
              li “made in Berlin” – an attractive product attribute, opportunity to expand manufacturing capacity if needed.
              li Unique store concept design attractive for scaling.
              li Capable team able to efficiently scale stores.