.stores {
  background: $green-text-bg;
  padding: 80px 0;

  &__inner {
    margin-left: -30px;
    margin-right: -30px;
  }

  &__title {
    text-decoration: underline;
    margin-bottom: 25px;
  }

  &__col {
    padding: 0 30px;
  }

  @include media($screen-sm) {
    padding: 50px 0;
    &__inner {
      margin-left: -15px;
      margin-right: -15px;  
    }
    &__col {
      padding: 0 15px;
    }
  }

  @include media($screen-xs){
    display: none;
  }
}