.stores
  .wrapper
    .stores__inner.flex
      .stores__col.flexcol-50
        .stores__title.h3 Our Stores
        .stores__text
          p We believe unequivocally that well-considered design improves our lives. Just as meticulous research is integral to the formulation of each product, our utilitarian containers are created with utmost care to ensure they function with ease and are pleasing to our eyes.
          p In seeking new locations, our first consideration is to work with what already exists. It is our intention to weave ourselves into the fabric of place and add something of merit rather than impose a discordant presence, and our consistent practice to use a locally relevant design vocabulary.
      
      .stores__col.flexcol-50
        .stores__title.h3 The online store
        .stores__text
          p Our site has been patiently crafted to offer you an easy navigation for your seamless online shopping experience. We are confident that you will appreciate its convenience coupled with our fine product selection.
          p Stroll down our product catalog, and if you have any questions, comments or opinions about our portfolio do let us know. We are ready and eager to help our customers, and make sure that you will come back to us again and again.
          p We are proud to offer you a faultless assistance until your absolute satisfaction. For more information, please visit our on-line store at newgardenlab.com