.specblock-dblimg {
  margin: 110px 0;

  &--reverse {
    .specblock-dblimg {
      &__content {
        padding-right: 150px;
        padding-left: 0;
      }
      &__inner {
        flex-direction: row-reverse;
      }
    }
  }

  &--promo {
    margin-top: 0;
  }

  &__inner {
    position: relative;
  }

  &__img {
    width: 50%;
  }

  &__content {
    width: 50%;
    padding-left: 150px;
    padding-top: 80px;
  }

  &__text {
    .btn {
      margin-top: 20px;
    }
  }

  &__title {
    b {
      font-weight: bold;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__leaf {
    position: absolute;
    right: -450px;
    bottom: -360px;
    z-index: -1;
  }

  &__leaf-2 {
    position: absolute;
    left: -200px;
    bottom: -240px;
    z-index: -1;
  }

  @include media(1400px) {
    &__content {
      padding-left: 40px;
    }
    &--reverse {
      .specblock-dblimg {
        &__content {
          padding-right: 40px;
        }
      }
    }
  }

  @include media($screen-lg) {
    margin: 120px 0;

    &--promo {
      margin-top: 0;
      .specblock-dblimg__subtitle {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }

    &__content {
      padding-left: 50px;
      padding-top: 0;
    }
  }

  @include media($screen-sm) {
    margin: 60px 0;

    &--promo {
      margin-top: 0;
    }

    &__inner {
      align-items: center;
    }

    &__content {
      margin-top: 25px;
      padding-left: 30px;
    }

    &--reverse {
      .specblock-dblimg {
        &__content {
          padding-right: 30px;
        }
      }
    }
  }

  @include media(650px) {
    &__inner {
      flex-direction: column;
    }

    &--reverse {
      .specblock-dblimg__inner {
        flex-direction: column;
      }
    }

    &__img {
      width: 100%;
      img {
        max-width: 280px;
      }
    }
    &__content {
      width: 100%;
      padding-left: 0 !important;
    }
    &__leaf,
    &__leaf-2 {
      display: none;
    }
  }
}