mixin specblock-dblimg(title, img, forPage, isReverse)
  - if(forPage === 'homepage')
      .specblock-dblimg(class= isReverse ? "specblock-dblimg--reverse": "")
        .wrapper
          .specblock-dblimg__inner.flex
            img(src=require('@root/img/icons/leaf-4.svg')).specblock-dblimg__leaf-2
            .specblock-dblimg__img.flexcol-50.js-anim.anim-top.anim-delay-3
              img(src=img, alt="")
            .specblock-dblimg__content.flexcol-50.js-anim.anim-right
              img(src=require('@root/img/icons/leaf-2.svg')).specblock-dblimg__leaf
              -if(title)
                .specblock-dblimg__title.h2.text-upper= title
              .specblock-dblimg__text
                block

  - else
      .specblock-dblimg(class= isReverse ? "specblock-dblimg--reverse": "")(class= (forPage==='nglpage') ? "specblock-dblimg--promo" : "")
        .wrapper
          .specblock-dblimg__inner.flex
            .specblock-dblimg__img.flexcol-50.js-anim.anim-top.anim-delay-3
              img(src=img, alt="")
            
            .specblock-dblimg__content.flexcol-50.js-anim.anim-right
              -if(title)
                .specblock-dblimg__title.h2= title
              .specblock-dblimg__text
                block