.partners {
  margin: 80px 0 100px;
  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 0 10px;
  }

  @include media(650px){
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      width: calc(100% / 3);
      padding: 0 5px 20px;
      text-align: center;
    }
  }
  @include media($screen-xs){
    margin: 50px 0;
    &__item {
      width: 50%;
    }
    &__title {
      text-align: left;
    }
  }
}