.partners
  .wrapper
    .partners__title.h2.text-center Business partners
    .partners__list
      .partners__item: img(src=require('@root/img/partners/partner-1.png'))
      .partners__item: img(src=require('@root/img/partners/partner-2.png'))
      .partners__item: img(src=require('@root/img/partners/partner-3.png'))
      .partners__item: img(src=require('@root/img/partners/partner-4.png'))
      .partners__item: img(src=require('@root/img/partners/partner-5.png'))
      .partners__item: img(src=require('@root/img/partners/partner-6.png'))