extends ../layout/layout
include ../blocks/promo/promo
include ../blocks/introduce/introduce
include ../blocks/special-block/special-block
include ../blocks/send-block/send-block
include ../blocks/specblock-dblimg/specblock-dblimg

block vars
  - var pageUrl = './about.html';

block title
  title О нас

block content
  .wrapper
    h1.page__title.h1 About us

  .about-promo
    +special-block(false, require('@root/img/about-promo-img.jpg'))
      p New Garden Group is a vertically integrated cannabis\hemp operator in Europe. Headquartered in Berlin, Germany, with manufacturing facility in both in Germany and Northern Macedonia, New Garden Group focuses on growing, designing, producing and distributing its high-quality certified medical and wellness cannabis products throughout the entire continent with the outmost standard for safety, efficacy, stable quality, and customer care. 
      p New Garden Group is a place where new simple yet enticing health and wellness brands and innovative product lines are born, offering solutions to any customer in the evolving cannabis.
      p New Garden Group is comprised of diverse individuals with unique backgrounds from product development, medicine, marketing and media to business and e-commerce, who are all driven by the same strong values, passionate about nature and innovations of well-being.

  +intro('aboutpage')

  +special-block('New Garden Group – we share the following values:', require('@root/img/about-ngp-img.jpg'))
    p <b>Quality:</b> our products are designed to exceed our customers’ expectations.
    p <b>Brands:</b> we are committed to developing unique and lasting brands for the European market.
    p <b>Team:</b> we unite best-in-class professionals across research, compliance, commerce and management.
    p <b>Ethics:</b> unwavering commitment to the highest standards of integrity in everything we do.
    p <b>Sustainability:</b> caring about fair practices and the environment underpins every decision at New Garden Group.
    p <b>R&D:</b> use best R&D practices and winning competition by innovating.

  include ../blocks/key-diff/key-diff

  +special-block('New Garden Pharma', require('@root/img/pharma-img.jpg'), true)
    p New Garden Pharma is vertically integrated medical and wellness cannabis operator in Europe.
    p With manufacturing facility in Northern Macedonia, New Garden Pharma focuses on farming, cultivating, producing and distributing its high-quality certified cannabis products throughout the entire continent.
    p New Garden Pharma is striving to become the industry’s leading force in education and promotion through research and development.
    p With a help of our team of GMP-experts and pharmacists we have built an outstanding, branded, cannabis-based health and wellness proposition under the multiple brands in the New Garden family.
    p New Garden’s well-trained and highly-educated proprietary research and development team designs and operates cultivation facilities that meet good agricultural practices (GAP) to produce special blends of high and stable quality medical cannabis.
    .special-block__button
      a.btn(href="./new-garden-pharma.html") Read more
  
  +specblock-dblimg('New Garden Lab', require('@root/img/lab-promo-img.jpg'))
    p New Garden Lab is a chain of unique health and wellness concept stores in the industry of organic well-being, health and beauty, focusing on quality legal hemp and cannabis products.
    p We sell a curated range of carefully crafted products that are meeting growing consumer demand for cannabis (CBD) and hemp, the products of our own unique design as well the industry best sellers. We also engage in a white label manufacturing to service other retail businesses which share our values and standards of quality.
    p New Garden Lab is a center of knowledge and expertise where we render personalized support to every client. We help reach individuals’ health balance by assisting in tailoring remedies for skin, sleep, anxiety, and other disorders.
    a.btn(href="./new-garden-lab.html") Read more

  include ../blocks/partners/partners

  +send-block(true)