extends ../layout/layout
include ../blocks/special-block/special-block
include ../blocks/specblock-dblimg/specblock-dblimg

block vars
  - var pageUrl = './glossary.html';

block title
  title Глоссарий

block content
  .wrapper
    h1.page__title.h1 Glossary

  .glossary

    .glossary__nav.js-glossary-nav
      .wrapper
        .glossary__nav-list.js-glossary-navlist
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-1").link.glossary__nav-link.js-glossary-link Endocannabinoid system
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-2").link.glossary__nav-link.js-glossary-link How does medical cannabis work?
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-3").link.glossary__nav-link.js-glossary-link How does THC interact with the ECS?
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-4").link.glossary__nav-link.js-glossary-link What is GACP in the Cannabis cultivation facility?
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-5").link.glossary__nav-link.js-glossary-link Cannabis receptors
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-6").link.glossary__nav-link.js-glossary-link GMP
          .glossary__nav-item.js-glossary-navitem
            a(href="#glossary-7").link.glossary__nav-link.js-glossary-link How does CBD interact with the ECS?

        .glossary__btnwrap
          .btn.glossary__showbtn.js-glossary-show
            span Show all
            img(src=require("@root/img/icons/arrow-bottom.svg")).btn__icon
          .btn.glossary__hidebtn.js-glossary-hide
            span Hide
            img(src=require("@root/img/icons/arrow-top.svg")).btn__icon
    
    .glossary__list.js-glossary-list
      .glossary__item#glossary-1
        +special-block('Endocannabinoid system', require('@root/img/glossary-img-1.jpg'))
          p The endocannabinoid system (ECS) is a complex cell-signaling system identified in the early 1990s by researchers exploring THC, a well-known cannabinoid. Cannabinoids are compounds found in cannabis.
          p Experts are still trying to fully understand the ECS. But so far, we know it plays role in regulating a range of functions and processes, including:
          ul.styled-list  
            li leep
            li mood
            li appetite
            li memory
            li reproduction and fert
            li sility
          p The ECS exists and is active in your body even if you don’t use cannabis.
      
      .glossary__item#glossary-2
        +special-block('How does medical cannabis work?', require('@root/img/glossary-img-2.jpg'), true)
          p Medical cannabis works when the main components (THC and CBD) interact with the our endocannabinoid receptor systems. Endocannabinoids and their receptors are found throughout the body: in our brain, organs, connective tissues, glands, and immune cells. When a person uses cannabis, the cannabinoids find the endocannabinoid receptors in our central nervous system and bind to them. These interactions can have a variety of effects on immune function, inflammation, appetite, metabolism and energy homeostasis, cardiovascular function, digestion, bone development and bone density, synaptic plasticity and learning, pain, reproduction, psychiatric disease, psychomotor behaviour, memory, wake/sleep cycles, and the regulation of stress and emotional states.
      
      .glossary__item#glossary-5
        +special-block('Cannabis receptors', require('@root/img/glossary-img-3.jpg'))
          p A number of different cannabis receptors have been identified: CB1 and CB2 are the most well-known. The CB1 receptors are most commonly found in the central nervous system. Receptors of this type are chiefly responsible for pain modulation and the anti-emetic effect, but also affect memory and motor functions, among other things. 
          p The CB2 receptors are chiefly located peripherally, particularly on immune system cells (chiefly in the spleen) and are, therefore, responsible for the immunological effects of cannabinoids. 

      .glossary__item#glossary-3
        +specblock-dblimg('How does THC interact with the ECS?', require('@root/img/glossary-img-4.png'), false, true)
          //- +special-block('How does THC interact with the ECS?', require('@root/img/glossary-img-4.png'), true)
          p Tetrahydrocannabinol (THC) is one of the main cannabinoids found in cannabis. It’s the compound that gets you “high.”
          p Once in your body, THC interacts with your ECS by binding to receptors, just like endocannabinoids. It’s powerful partly because it can bind to both CB1 and CB2 receptors.
          p This allows it to have a range of effects on your body and mind, some more desirable than others. For example, THC may help to reduce pain and stimulate your appetite. But it can also cause paranoia and anxiety in some cases.
      
      .glossary__item#glossary-7
        +special-block('How does CBD interact with the ECS?', require('@root/img/glossary-img-5.jpg'))
          p The other major cannabinoid found in cannabis is cannabidiol (CBD). Unlike THC, CBD doesn’t make you “high” and typically doesn’t cause any negative effects.
          p Experts aren’t completely sure how CBD interacts with the ECS. But they do know that it doesn’t bind to CB1 or CB2 receptors the way THC does.
          p Instead, many believe it works by preventing endocannabinoids from being broken down. This allows them to have more of an effect on your body. Others believe that CBD binds to a receptor that hasn’t been discovered yet.
          p While the details of how it works are still under debate, research suggests that CBD can help with pain, nausea, and other symptoms associated with multiple conditions.
      
      .glossary__item#glossary-4
        +special-block('What is GACP in the Cannabis cultivation facility?', require('@root/img/glossary-img-6.jpg'), true)
          p GACP stands for Good Agriculture and Collection Practices. The main challenge of the GACP is that the cultivation and post harvest facilities will be designed properly to minimize risks from the outer environment, to enable a correct personnel and material flow.
          p By following GACP guidelines we avoid contamination of any kind, to improve the yield, to achieve the desired cannabinoid content, to optimize and control cultivation parameters.    
      
      .glossary__item#glossary-6
        +special-block('GMP', require('@root/img/glossary-img-7.jpg'))
          p GMP or Good Manufacturing Practice is a requirement of the pharmaceutical industry that ensures consistency in active ingredients, which can affect a medicine’s safety and efficacy.
          p We aim to produce all medicinal cannabis products in a GMP friendly environment.