extends ../layout/layout
include ../blocks/promo/promo
include ../blocks/introduce/introduce
include ../blocks/special-block/special-block
include ../blocks/send-block/send-block
include ../blocks/specblock-dblimg/specblock-dblimg

block vars
  - var pageUrl = '/';

block title
  title Главная страница

block content
  +promo('homepage')

  +intro('homepage', true)

  +special-block('New Garden Pharma', require('@root/img/pharma-img.jpg'), true, true)
    p New Garden Pharma is vertically integrated medical and wellness cannabis operator in Europe.
    p With manufacturing facility in Northern Macedonia, New Garden Pharma focuses on farming, cultivating, producing and distributing its high-quality certified cannabis products throughout the entire continent.
    p New Garden Pharma is striving to become the industry’s leading force in education and promotion through research and development.
    p With a help of our team of GMP-experts and pharmacists we have built an outstanding, branded, cannabis-based health and wellness proposition under the multiple brands in the New Garden family.
    p New Garden’s well-trained and highly-educated proprietary research and development team designs and operates cultivation facilities that meet good agricultural practices (GAP) to produce special blends of high and stable quality medical cannabis.
    .special-block__button
      a.btn(href="./new-garden-pharma.html") Read more
      
  +specblock-dblimg('New Garden Lab', require('@root/img/lab-promo-img.jpg'), 'homepage')
    p New Garden Lab is a chain of unique health and wellness concept stores in the industry of organic well-being, health and beauty, focusing on quality legal hemp and cannabis products.
    p We sell a curated range of carefully crafted products that are meeting growing consumer demand for cannabis (CBD) and hemp, the products of our own unique design as well the industry best sellers. We also engage in a white label manufacturing to service other retail businesses which share our values and standards of quality.
    p New Garden Lab is a center of knowledge and expertise where we render personalized support to every client. We help reach individuals’ health balance by assisting in tailoring remedies for skin, sleep, anxiety, and other disorders.
    a.btn(href="./new-garden-lab.html") Read more

  include ../blocks/team-intro/team-intro
  
  +send-block(false, 'homepage')