extends ../layout/layout
include ../blocks/special-block/special-block
include ../blocks/goals/goals
include ../blocks/send-block/send-block
include ../blocks/specblock-dblimg/specblock-dblimg

block vars
  - var pageUrl = './new-garden-lab.html';

block title
  title New Garden Lab

block content
  .wrapper
    h1.page__title.h1 New Garden Lab

  +specblock-dblimg(false, require('@root/img/lab-promo-img.jpg'), 'nglpage')
    .specblock-dblimg__subtitle “We create a natural way to a healthier and happier life for everyone!”
    p New Garden Lab is a chain of unique health and wellness concept stores in the industry of organic well-being, health and beauty, focusing on quality legal hemp and cannabis products.
    p We sell a curated range of carefully crafted products that are meeting growing consumer demand for cannabis (CBD) and hemp, the products of our own unique design as well the industry best sellers. We also engage in a white label manufacturing to service other retail businesses which share our values and standards of quality.
    p New Garden Lab is a center of knowledge and expertise where we render personalized support to every client. We help reach individuals’ health balance by assisting in tailoring remedies for skin, sleep, anxiety, and other disorders.

  +goals('nglpage')

  include ../blocks/stores/stores

  +send-block()