extends ../layout/layout
include ../blocks/special-block/special-block
include ../blocks/goals/goals
include ../blocks/send-block/send-block

block vars
  - var pageUrl = './new-garden-pharma.html';

block title
  title New Garden Pharma

block content
  .wrapper
    h1.page__title.h1 New Garden Pharma

  +special-block(false, require('@root/img/pharma-img.jpg'), true)
    p New Garden Pharma is vertically integrated medical and wellness cannabis operator in Europe.
    p With manufacturing facility in Northern Macedonia, New Garden Pharma focuses on farming, cultivating, producing and distributing its high-quality certified cannabis products throughout the entire continent.
    p New Garden Pharma is striving to become the industry’s leading force in education and promotion through research and development.
    p With a help of our team of GMP-experts and pharmacists we have built an outstanding, branded, cannabis-based health and wellness proposition under the multiple brands in the New Garden family.
    p New Garden’s well-trained and highly-educated proprietary research and development team designs and operates cultivation facilities that meet good agricultural practices (GAP) to produce special blends of high and stable quality medical cannabis.  

  +goals('ngppage')

  +send-block(true)