extends ../layout/layout
include ../blocks/person/person

block vars
  - var pageUrl = './team.html';

block title
  title Team

block content
  .wrapper
    h1.page__title.h1 Team

  .team-page
    .wrapper
      .team__list

        +person('person-1.jpg', 'Vadim Kurin', 'CEO and President, New Garden Group')
          ul.styled-list
            li Experienced CEO with a strong track-record of successfully executed projects, with a proven experience in different capacities across multiple consumer oriented industries – as a running CEO, as a Board Member, and as an Advisor.
            li CEO and Founder at Zoom Capital, former CEO at Viva-dengi, former CEO at NetByNet.
            li TUCK School of Business at Dartmouth College, MBA.
            li Moscow Institute of Physics and Technology, MS.

        +person('person-2.jpg', 'Sanja Bonelli', 'Chief Sales and Development Officer, New Garden Lab', true)
          ul.styled-list
            li Seasoned wholesale and retail executive with experience in fashion and jewelry companies in Germany and EU – Karen Millen, Bijou Brigitte AG, Esprit GmbH, S. Oliver Group.
            li Experienced leadership development specialist and change manager.
            li University of Rijeka, Croatia, MBA.

        +person('person-3.jpg', 'Alexander Golubev', 'Production Manager, New Garden Lab')
          ul.styled-list
            li Serial Entrepreneur with experience in managing 100+ employee companies for more than 7 years.
            li 2 years of experience working with cannabis products in California, from extraction to finished products.
            li MIEE, Bio-medical systems.

        +person('person-4.jpg', 'Alexander Sapyanik', 'Production/Plant manager, New Garden Pharma', true)
          ul.styled-list
            li Chief Production Manager with experience in operational pharmaceuticals and project Greenfield management.
            li 12 years of experience in GMP pharmaceuticals production in the largest Ukrainian and Russian companies.
            li Industrial Pharmaceutical Biotechnology, Chemical Technology of Carbohydrates, Ukrainian National University.

        +person('person-5.jpg', 'Dennis Honig', 'Chief Grower, New Garden Pharma')
          ul.styled-list
            li A 3rd  generation grower with over 22 years’ experience in cannabis specializing in launching commercial cannabis cultivation facilities, implementing new technologies and setting up efficient operational procedures.
            li Engaged in indoor and greenhouse cannabis cultivation and outdoor productions of seeds, clones and dried material production in the USA, Switzerland and Netherlands.
            li Experience with development of aeroponic growing in the USA.

        +person('person-6.jpg', 'Melissa Milinsky', 'Head of e-Commerce, New Garden Lab', true)
          ul.styled-list
            li Experienced digital native and Head of e-Commerce with over a dozen years in the online industry. Preferring holistic and a 360 customer-centric approach, Melissa has a proven track record of increasing sales & customer engagement while leading successful channel strategies and operations.
            li University of Florida College of Journalism and Communications, BA Advertising.

        
        +person('person-7.jpg', 'Alexey Brylev', 'Business Development and Controlling Officer, New Garden Group')
          ul.styled-list
            li Experienced Private Equity professional in managing portfolio companies’ performance, including strategic management and M&A, corporate governance, financial budgeting and control.
            li Audit and consulting experience in KPMG.
            li National Research University of Electronic Technology, MIET.
        
        +person('person-8.jpg', 'Semion Volkov', 'Chief Financial Officer, New Garden Group', true)
          ul.styled-list
            li Over 10 years of experience in Finance, including pharmaceutical and retail business.
            li Experience in finance modeling, investment projects, management accounting, IFRS reporting (including public companies).
            li ACCA, CIMA Qualifications.
            li Russian State University of Trade and Economics.
        
        +person('person-9.jpg', 'Anastasia Bodenbenner', 'Store Area Manager, Berlin')
          ul.styled-list
            li Goal-oriented and experienced retail professional with work experience in international companies such as Karen Millen, Calzedonia and Bestseller group.
            li In-depth knowledge of sales and people management.
            li Great communication skills in 4 languages.
            li 2 qualified University degrees and further education at Potsdam University (Cultural Studies and Human Resources).