.contacts {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 50%;
    padding-right: 70px;
  }

  &__form {
    width: 50%;
    padding-left: 70px;
    .form__flex {
      display: block;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__form-title {
    margin-bottom: 20px;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 35px;

    &-name {
      font-size: 18px;
      line-height: 1.4;
      font-weight: 600;
      width: 50%;
    }

    &-data {
      max-width: 250px;
      width: 100%;
    }
  }

  &__map {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 10px;
    flex-shrink: 0;
    &-icon {
      margin-right: 10px;
      margin-top: 6px;
    }
  }

  @include media(1366px) {
    &__content {
      padding-right: 30px;
    }
    &__form {
      padding-left: 30px;
    }
  }

  @include media(1024px){
    &__title {
      margin-bottom: 35px;
    }
  }

  @include media($screen-sm){
    margin-bottom: 50px;
    &__title {
      font-size: 22px;
    }
    &__content {
      width: 100%;
      padding-right: 0;
      margin-bottom: 25px;
    }

    &__form {
      width: 100%;
      padding-left: 0;
      .form {
        &__flex {
          display: flex;
        }
        &__col {
          width: 50%;
          &:last-child {
            display: flex;
            padding-left: 20px;
          }
        }
        &__field {
          width: 100%;
        }
      }
      textarea {
        height: 100%;
      }
    }

    &__map {
      margin-top: 5px;
      width: 50%;
    }

    &__address {
      font-size: 14px;
      &-name {
        font-size: 16px;
        width: 200px;
        flex-shrink: 0;
      }
      &-data {
        display: flex;
        max-width: unset;
        margin-left: 25px;
      }
      &-text {
        padding-right: 20px;
        width: 50%;
      }
    }
  }

  @include media($screen-xs){
    margin-bottom: 0;
    &__title {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__content {
      margin-bottom: 0;
    }
    &__address {
      flex-direction: column;
      margin-bottom: 30px;

      &-name,
      &-text {
        width: 100%;
      }

      &-data {
        margin-left: 0;
        display: block;
        margin-top: 10px;
      }
    }
    &__form {
      .form {
        &__flex {
          display: block;
        }

        &__col {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          &:last-child {
            padding-left: 0;
          }
        }
      }
      textarea {
        height: 120px;
      }
    }
  }
}