.contacts
  .wrapper
    .contacts__inner
      .contacts__content
        .contacts__title.h2.js-anim.anim-top Thanks for taking the time to get to know us a little better.
        .contacts__list
          .contacts__address.js-anim.anim-top.anim-delay-2
            .contacts__address-name Main office address
            .contacts__address-data
              .contacts__address-text NGP Berlin GmbH <br/> Immanuelkirchstraße 10 <br/> 10405 Berlin, <br/> Germany.
              .contacts__map
                img(src=require('@root/img/icons/map.svg')).contacts__map-icon
                a.link(href="https://www.google.com/maps/place/Immanuelkirchstra%C3%9Fe+10,+10405+Berlin,+%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F/@52.5319516,13.4228963,17.25z/data=!4m5!3m4!1s0x47a84e051af2bd17:0x13742846bae9e2b0!8m2!3d52.5319392!4d13.4247062" target="_blank").contacts__map-label Show a map

          .contacts__address.js-anim.anim-top.anim-delay-4
            .contacts__address-name Manufacturing office address
            .contacts__address-data
              .contacts__address-text Bul. Kocho Racin No.14, lok. 6 <br/> 1000 Skopje, <br/> Republic of North Macedonia.

              .contacts__map
                img(src=require('@root/img/icons/map.svg')).contacts__map-icon
                a.link(href="https://www.google.com/maps/search/Bul.+Kocho+Racin+No.14,+lok.+6+1000+Skopje,+Republic+of+North+Macedonia/@41.9911827,21.4339978,17z" target="_blank").contacts__map-label Show a map

      .contacts__form.js-anim.anim-right
        .contacts__form-title.h3 Ask a Question
        form.form(action="")
          .form__flex
            .form__col
              .form__field
                input.form__input(type="text" placeholder="Name*" required)
              .form__field
                input.form__input(type="text" placeholder="Phone" required)
              .form__field
                input.form__input(type="email" placeholder="Email*" required)
            .form__col
              .form__field
                textarea.form__input(placeholder="Message" required)
          button.btn Send