.send-block {
  padding: 80px 0;

  &--withbg {
    background: $green-text-bg;
  }

  &__inner {
    display: flex;
    position: relative;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__content {
    width: 50%;
    padding-right: 60px;
  }

  &__form {
    width: 50%;
  }

  &__pattern {
    position: absolute;
    left: -350px;
    top: -200px;
    z-index: -1;
  }

  @include media($screen-sm){
    .form__flex {
      display: block;
    }
    .form__field--50 {
      width: 100%;
    }
  }

  @include media($screen-xs){
    padding: 50px 0;
    &__inner {
      display: block;
    }
    &__content {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0;
    }
    &__form {
      width: 100%;
    }
  }
}