mixin send-block(withBg, forPage)
  .send-block(class= withBg ? "send-block--withbg" : "")
    .wrapper
      .send-block__inner
        - if(forPage === 'homepage')
            img(src=require("@root/img/icons/leaf-3.svg")).send-block__pattern
        .send-block__content
          .send-block__title.h2(class= (forPage === 'homepage') ? "text-upper" : "").js-anim.anim-left Investor <br/> Presentation
          .send-block__text.js-anim.anim-left.anim-delay-3 Download the investor presentation which includes an overview of our business vision, overall market strategy, current brand portfolio, management team and more  by entering your information below.
        
        .send-block__form.js-anim.anim-top
          form.form(action="")
            .form__flex
              .form__field.form__field--50
                input.form__input(type="text" placeholder="Name*" required)
              .form__field.form__field--50
                input.form__input(type="text" placeholder="Phone" required)
            .form__field
              input.form__input(type="email" placeholder="Email*" required)
            .form__field
              textarea.form__input(placeholder="Message" required)
            button.btn Get presentation