.press-center-intro {
  padding-bottom: 60px;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: calc(100% - 242px);
    background: $green-text-bg;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 3);
  }

  &__button {
    margin-top: 60px;
    text-align: center;
  }

  &__leaf {
    position: absolute;
    bottom: -180px;
    left: -450px;
    z-index: -1;
  }

  @include media($screen-smd){
    &__item {
      width: 50%;
      margin-bottom: 30px;
      &:last-child {
        display: none;
      }
    }
    &__button {
      margin-top: 0;
    }
  }

  @include media(650px){
    &:before {
      height: calc(100% - 162px);
    }
    &__item{
      width: auto;
      margin-left: -20px;
      margin-right: -20px;
      
      &:last-child {
        display: none;
      }
    }
  }
}