include ../press-item/press-item

.press-center-intro
  .wrapper
    .press-center-intro__inner
      .press-center-intro__title.text-center.text-upper.h2 Press center
      .press-center-intro__list
        .press-center-intro__item
          +press-item(
            require('@root/img/press-img-1.jpg'), 
            'Hemp Oil vs CBD Oil: Does Hemp Oil Contain CBD?', 
            'Since CBD is made of hemp, many people wonder does hemp oil contain CBD? CBD oil and hemp oil are made from the same plant: hemp. However, they are two totally different oils. The differences between CBD oil and...'
          )
        .press-center-intro__item
          +press-item(
            require('@root/img/press-img-2.jpg'), 
            'What Does CBD Oil Taste Like? Plus The Science Behind the Taste of CBD Oil', 
            'Since CBD is made of hemp, many people wonder does hemp oil contain CBD? CBD oil and hemp oil are made from the same plant: hemp. However, they are two totally different oils. The differences between CBD oil and...'
          )
        .press-center-intro__item
          +press-item(
            require('@root/img/press-img-3.jpg'), 
            'The Beautifying Benefits of CBD: How Does CBD Skin Care Work?', 
            'Since CBD is made of hemp, many people wonder does hemp oil contain CBD? CBD oil and hemp oil are made from the same plant: hemp. However, they are two totally different oils. The differences between CBD oil and...'
          )
      
      img(src=require('@root/img/icons/leaf-3.svg')).press-center-intro__leaf
      .press-center-intro__button
        a.btn(href="#!") All news