.person {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--reverse {
    .person {
      &__content {
        order: -1;
        padding-left: 0;
        padding-right: 110px;
      }
    }
  }

  &__img {
    max-width: 446px;
    width: 100%;
    flex-shrink: 0;
  }

  &__position {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__content {
    padding-left: 110px;
  }

  &__info {
    font-size: 16px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-family: $primary-font;
  }

  @include media($screen-lg) {
    align-items: flex-start;

    &__img {
      max-width: 320px;
    }

    &__content {
      padding-left: 70px;
    }

    &__name {
      font-size: 30px;
    }

    &__info {
      font-size: 14px;
    }

    &__position {
      font-size: 16px;
    }

    &--reverse {
      .person {
        &__content {
          padding-right: 70px;
        }
      }
    }
  }

  @include media($screen-sm){
    margin-bottom: 80px;

    &__name {
      font-size: 24px;
    }

    &__position {
      font-size: 14px;
    }

    &__img {
      width: 40%;
      flex-shrink: unset;
    }

    &__content {
      width: 60%;
      padding-left: 35px;
    }

    &--reverse {
      .person {
        &__content {
          padding-right: 35px;
        }
      }
    }
  }

  @include media($screen-xs){
    flex-direction: column;

    &__img {
      width: 100%;
      order: -1;
      margin-bottom: 25px;
      max-width: 100%;
      img {
        width: 240px;
      }
    }

    &__content {
      width: 100%;
      padding-left: 0;
      padding-right: 0!important;
    }

    &--reverse {
      .person__img {
        text-align: right;
      }
    }
  }
}