mixin person(img, name, position, isReverse)
  //person block: START
  .person(class=isReverse ? "person--reverse" : "")
    .person__img.js-anim.anim-top.anim-delay-3: img(src=require(`@root/img/persons/${img}`), alt="")
    .person__content.js-anim.anim-left
      .person__name.h2= name
      .person__position= position
      .person__info
        block