.footer {
  border-top: 1px solid $green-bright;
  padding: 30px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
  }

  &__navlink {
    text-decoration: none;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__copyright {
    margin-right: 15px;
    margin-top: 15px;
  }

  &__bottom-link {
    text-decoration: none;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__made {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 25px;
    &-icon {
      max-width: 68px;
      margin-top: -3px;
    }
  }

  @include media($screen-lg){
    &__logo {
      margin-right: 20px;
      img {
        max-width: 185px;
      }
    }
  }

  @include media($screen-sm){
    font-size: 11px;
    &__inner {
      flex-direction: row;
      align-items: center;
    }
    &__content {
      margin-top: 0;
    }
    &__nav {
      display: none;
    }
    &__bottom {
      margin-top: 0;
      font-size: 11px;
      line-height: 1.5;
    }
    &__logo {
      display: flex;
      align-items: center;
      img {
        max-width: 160px;
        margin-right: 15px;
      }
    }
    &__copyright {
      margin-top: 0;
    }
    &__made {
      margin-left: 16px;
    }
  }

  @include media(650px){
    border: none;
    margin-top: 30px;
    &__inner {
      flex-direction: column;
    }
    &__bottom {
      flex-direction: column;
    }
    &__logo {
      display: block;
      margin-right: 0;
    }
    &__made {
      margin-left: 0;
      margin-top: 15px;
    }
    &__copyright {
      margin-top: 25px;
    }
  }

}