.footer
  .wrapper
    .footer__inner
      .footer__logo
        img(src=require('@root/img/icons/logo.svg'))
        .footer__copyright © 2020  New Garden Pharma
      .footer__content
        .footer__nav
          a.link(href="./about.html").footer__navlink About us
          a.link(href="./team.html").footer__navlink Team      
          a.link(href="./glossary.html").footer__navlink Glossary      
          a.link(href="./contacts.html").footer__navlink Contact
        .footer__bottom
          .footer__bottom-nav
            a.link(href="#!").footer__bottom-link Data Security
          .footer__made
            .footer__made-label Created and promoted by&nbsp;&nbsp;
            a.link(href="https://www.ustrong.ru/" target="_blank").footer__made-icon: img(src=require('@root/img/icons/ustrong.png'))