block vars
  - var pageUrl = '';

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://unpkg.com/sanitize.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css")
    block title
  body
    .page
      .page__header
      
        //header
        .header.js-header
          .wrapper
            .header__inner
              a.link.link--noline(href="./index.html").header__logo
                img(src=require('@root/img/icons/logo.svg'), alt="logo")
              .header__nav
                .header__nav-item.header__nav-item--multi
                  a.link(href="./about.html").header__navlink(class=(pageUrl === './about.html') ? "header__navlink--active" : "") About us
                  .header__subnav
                    a.link(href="./new-garden-pharma.html").header__subnav-link New Garden Pharma
                    a.link(href="./new-garden-lab.html").header__subnav-link New Garden Lab

                .header__nav-item
                  a.link(href="./team.html").header__navlink(class=(pageUrl === './team.html') ? "header__navlink--active" : "") Team
                .header__nav-item
                  a.link(href="./glossary.html").header__navlink(class=(pageUrl === './glossary.html') ? "header__navlink--active" : "") glossary
                .header__nav-item
                  a.link(href="./contacts.html").header__navlink(class=(pageUrl === './contacts.html') ? "header__navlink--active" : "") Contact

              img(src=require('@root/img/icons/burger-open.svg')).header__burger.js-header-burger
          .header-dropdown.js-header-dropdown
            .header-dropdown__top
              a.link.link--noline(href="#!").header-dropdown__logo
                img(src=require('@root/img/icons/logo-yellow.svg'), alt="logo")
              img(src=require('@root/img/icons/cross.svg')).header-dropdown__close.js-header-close

            .header-dropdown__nav
              .header-dropdown__item
                a.link(href="./about.html").header-dropdown__navlink About us
                .header-dropdown__subnav
                  a.link(href="./new-garden-pharma.html").header-dropdown__subnav-link New Garden Pharma
                  a.link(href="./new-garden-lab.html").header-dropdown__subnav-link New Garden Lab
              .header-dropdown__item
                a.link(href="./team.html").header-dropdown__navlink Team
              .header-dropdown__item
                a.link(href="./glossary.html").header-dropdown__navlink Glossary
              .header-dropdown__item
                a.link(href="./contacts.html").header-dropdown__navlink Contact
      .page__body
        block content
      .page__footer
        include ./footer/footer